<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.aiurmaple.recruitanalyze.datadisplay.dao.JobDao" >
    <resultMap id="getJobsSalary" type="indi.aiurmaple.recruitanalyze.datadisplay.model.JobCityModel">
        <result property="salary" column="salary" />
        <result property="cityId" column="city_id" />
    </resultMap>

    <resultMap id="getJobsSalaryByExp" type="indi.aiurmaple.recruitanalyze.datadisplay.model.JobExpModel">
        <result property="salary" column="salary" />
        <result property="workingExpId" column="working_exp_id" />
    </resultMap>

    <select id="getJobsNum" resultType="Integer" >
        <choose>
            <when test="time">
                SELECT count(*) FROM job_merge WHERE create_date >= #{date};
            </when>
            <otherwise>
                SELECT count(*) FROM job_merge WHERE end_date >= #{date};
            </otherwise>
        </choose>
    </select>

    <select id="getJobsNumByCity" resultType="Integer">
        SELECT count(*) FROM job_merge WHERE end_date >= #{date}
        AND city_id IN
        <foreach collection="cityIds" item="cityId" index="index" open="(" close=")" separator=",">
            #{cityId}
        </foreach>
        GROUP BY city_id;
    </select>

    <select id="getJobsSalaryByCity" resultMap="getJobsSalary">
        SELECT salary,city_id FROM job_merge WHERE job_name_id = #{jobNameId}
        AND city_id IN
        <foreach collection="cityIds" item="cityId" index="index" open="(" close=")" separator=",">
            #{cityId}
        </foreach>
        AND create_date BETWEEN #{startDate} AND #{endDate}
        ORDER BY city_id;
    </select>

    <select id="getJobsSalaryByExp" resultMap="getJobsSalaryByExp">
        SELECT salary, working_exp_id FROM job_merge WHERE job_name_id = #{jobNameId}
        AND working_exp_id IN
        <foreach collection="workingExpIds" item="workingExpId" index="index" open="(" close=")" separator=",">
            #{workingExpId}
        </foreach>
        AND end_date >= #{date}
        ORDER BY working_exp_id;
    </select>

    <select id="getJobsNumByEdu" resultType="Integer">
        SELECT count(*) FROM job_merge WHERE job_name_id = #{jobNameId}
        AND edu_level_id IN
        <foreach collection="eduLevelIds" item="eduLevelId" index="index" open="(" close=")" separator=",">
            #{eduLevelId}
        </foreach>
        AND end_date >= #{date}
        GROUP BY edu_level_id;
    </select>
</mapper>