<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.aiurmaple.recruitanalyze.datadisplay.dao.JobNameDao" >
    <select id="getAll" resultType="JobNameEntity" >
      SELECT id, job_label FROM job_name;
    </select>
</mapper>